    $primary-100:#c01616;
    $primary-200:#fa5440;
    $primary-300:#ffbb9a;
    $accent-100:#c22020;
    $accent-200:#ffc0a5;
    $text-100:#787878;
    $text-200:#a7a7a7;
    $bg-100:#000000;
    $bg-200:#161616;
    $bg-300:#2c2c2c;
    $index:calc(1vw + 1vh);